<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>
<body>



<div class="container">

    <div class="starter-template">
        <h1>Admin page</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
        
        			<h2><strong>scegli una delle seguenti operazioni:</strong></h2><br />
			<p align="right">
				<a th:href="@{/addAllievo}"> Inserisci nuovo allievo </a><br>
				<a th:href="@{/searchAllievo}"> Cerca allievo </a><br>
				<a th:href="@{/addAttività}"> Inserisci nuova attività </a><br>
				<a th:href="@{/places}"> Elenco Centri di Formazione </a><br>
				<a th:href="@{/activities}"> Elenco Attività</a><br>
			</p>
        
        
        
        
        
        
        
        
        
        
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

</body>
</html>