<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Iscrizione di un allievo a un'attività</title>
</head>
<body>
	<h1>Iscrizione a un'attività</h1>
	Nuovo allievo? clicca <a href="allievoForm"> qui</a> per registrarlo.
	Cerca Allievo se già registrato:
	<form action="searchAllievo" method="get">
		Nome: <input type="text" name="nome" />
		Cognome: <input type="text" name="cognome" />
		Data di nascita: <input type="text" name="dataDiNascita" />
		Luogo di nascita: <input type="text" name="luogoDiNascita" />
		<input type="submit" class="submit" value="Cerca" />
	</form>
</body>
</html>