<!DOCTYPE html>
<html>
<head>
	<title>Conferma Iscrizione</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<div class="container">
		<header class="major">
	   		<div class="starter-template">
				<h2>Iscrizione attività</h2>
				<div>L'iscrizione all'attività dell'allievo è andata a buon fine.</div>
			</div>
		</header>	
	</div>
</body>
</html>