<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Effettua l'accesso</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
<div class="container">
	<div id="body"> 
		<section id="one">
			<p align="center">
			<div class="row" style="margin-top:20px">
        	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
   		 		<div class="starter-template">
	            <form th:action="@{/login}" method="post">
	          	  <p align="center">
	                <h1>Effettua l'accesso</h1>
	                    <div th:if="${param.error}">
	                        <div class="alert alert-danger">
	                           username e password sono invalidi.
	                        </div>
	                    </div>
	                    <div th:if="${param.logout}">
	                        <div class="alert alert-info">
	                           ti sei disconnesso
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <input type="text" name="username" id="username" class="form-control input-lg"
	                               placeholder="UserName" required="true" autofocus="true"/>
	                    </div>
	                    <div class="form-group">
	                        <input type="password" name="password" id="password" class="form-control input-lg"
	                               placeholder="Password" required="true"/>
	                    </div>
	                    <div class="row">
	                        <div class="col-xs-6 col-sm-6 col-md-6">
	                            <br><input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
	                        </div>
	                        <div class="col-xs-6 col-sm-6 col-md-6">
	                		</div>
                		</div>
                	</p>
	            </form>
       		    </div>
       		 </div>
			 </div>
       		 </p>
        </section>
    </div>
</div>
</body>
</html>