<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Dati dell'allievo</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
<div class="container">
	<div id="main"> 
		<section id="one">
   		 <div class="starter-template">
   		 <p align="center">
			<h1>Allievo</h1>
			<div>
				Cognome: <span th:text="${allievo.cognome}"></span>
			</div>
			<div>
				Nome: <span th:text="${allievo.nome}"></span>
			</div>
			<div>
				Email: <span th:text="${allievo.email}"></span>
			</div>
			<div>
				Telefono: <span th:text="${allievo.telefono}"></span>
			</div>
			<div>
				Data di nascita: <span th:text="${allievo.dataDiNascita}"></span>
			</div>
			<div>
				Luogo di nascita: <span th:text="${allievo.luogoDiNascita}"></span>
			</div>
			<br><div>
			Iscrivi allievo ad un'attività cliccando <a href="associaAllievo">qui</a>
			</div>
		</div>
		</section>
	</div>
</div>
</body>
</html>