<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Scelta di operazioni</title>
    </head>
    <body>
        <h1 th:inline="text">Benvenuto [[${#httpServletRequest.remoteUser}]]!</h1>
        <p align="right">
       		<h1><strong>scegli una delle seguenti operazioni:</strong></h1><br />
			<a th:href="@{/addAllievo}"> Inserisci nuovo allievo </a><br>
			<a th:href="@{/searchAllievo}"> Cerca allievo </a><br>
			<a th:href="@{/addAttività}"> Inserisci nuova attività </a><br>
			<a th:href="@{/centroList}"> Elenco Centri di Formazione </a><br>				
			<a th:href="@{/attivitàList}"> Elenco Attività</a><br>
		</p>
    </body>
</html>